{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}

    <section class="home-container">
        <div class="home-row">
            <div class="home-col-1">
                <h1>Non-Intrusive Load Monitoring System</h1>
                <h3>Process of estimating the energy consumed by individual appliances given just a whole-house power meter reading</h3>
                <p>Identify the energy consumption of individual appliances given a whole-house power meter reading</p>
                <a href="{{ url_for('predict_page') }}"><button type="button" class="home-get-started">Get Started</button></a>
            </div>

            <div class="home-col-2">
                <img class="home-illustrator" src="{{url_for('static', filename='images/Illustration 1.png')}}" alt="illustrator 1">
                <div class="home-color-box"></div>
            </div>
        </div>

    </section>

    <section class="about" id="about">
        <div class="about-container">

            <h1 class="heading">About</h1>

            <div class="about-bg">

            <p>A non-intrusive load monitoring (NILM) system, also called energy
                disaggregation systems, allows to obtain information relating to the power
                absorption of individual appliances. The first NILM system was proposed by
                George W. Hart in 1985. Load monitoring and identification is a method of determining electrical
                energy consumption of individual appliances based on the analysis of composite
                load measured from the main power meter in a building. They can supply information such as type of load, electricity consumption
                details of the appliances to both the consumer and the utility. This information can
                be used to formulate load plan strategies for optimal energy utilization. </p>
                
            </div>
        </div>
    </section>

    <section id="advantages">

            <div class="advantages-row">
        
              <div class="advantages-col1">
                  <img src="{{url_for('static', filename='images/Illustration 2.png')}}" alt="illustration 2">
              </div>
        
              <div class="advantages-col2">
                  <h1 class="heading">Advantages</h1>

                  <div >

                    <ul>
                        <li class="list-group-item"> <i class="fa-solid fa-square-check"></i> Appliance Load Monitoring (ALM) leads to the identification of high-energy consuming appliances.</li>
                        <li class="list-group-item"> <i class="fa-solid fa-square-check"></i> Reduction in energy wastage can be achieved through monitoring energy consumption and relaying this information back to customers.</li>
                        <li class="list-group-item"> <i class="fa-solid fa-square-check"></i> It helps the user to make a financial decision for when to use an appliance.</li>
                        <li class="list-group-item"> <i class="fa-solid fa-square-check"></i> It helps the user to understand bills.</li>
                        <li class="list-group-item"> <i class="fa-solid fa-square-check"></i> With the help NILM user could plan their monthly budget.</li>
                        <li class="list-group-item"> <i class="fa-solid fa-square-check"></i> It can be used to formulate load plan strategies for optimal energy utilization.</li>
                      </ul>
                
                </div>
              </div>
            </div>
    </section>

    <section class="three">
        <div class="container">

            <div class="row">
                <div class="col-sm">
                    <div class="content">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Utility company</h5>
                              <p class="card-text">The utility company can estimate demand response potential in some locations from the fine information on the appliance levels.</p>
                            </div>
                        </div>                          
                    </div>
                </div>
                <div class="col-sm">
                    <div class="content">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Government</h5>
                              <p class="card-text">Governments spend billions of dollars on energy efficiency (EE) program every year. The fine load monitoring through NILM can help the government make wise decisions on EE policies.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="content">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Appliance company</h5>
                              <p class="card-text">Household electricity consumption information can prompt manufactures to speed up the study of high-performance equipment and guide the change of market of household appliance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="contacts" id="contacts">

        <div class="contact-row">
            
            <div class="contact-col1">
                <div class="college">
                    <div>
                        <a href="https://iiitdwd.ac.in/">   
                            <img class="logo bottom-logo" src="{{url_for('static', filename='images/iiitdwd_logo.png')}}" alt="logo">
                        </a>
                    </div>
                    <div>
                        <h4>IIIT DHARWAD</h4>
                        <a href="https://iiitdwd.ac.in/">Visit Website</a>
                    </div>
                </div>
            </div>

            <div class="contact-col2">
                <div class="me">
                    <div class="me1">
                        <div class="card  mb-3" style="max-width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title">Jagadeesh C</h5>
                            <a href="mailto:18bcs033@iiitdwd.ac.in">Mail</a> | 
                            <a href="">GitHub</a>
                            </div>
                        </div>
                    </div>
                    <div class="me1">
                        <div class="card mb-3" style="max-width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title">Nikhil S</h5>
                            <a href="mailto:18bec033@iiitdwd.ac.in">Mail</a> | 
                            <a href="">GitHub</a>
                            </div>
                        </div>
                    </div>
                    <div class="me1">
                        <div class="card mb-3" style="max-width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title">Arun Kumar S M</h5>
                            <a href="mailto:18bcs013@iiitdwd.ac.in">Mail</a> | 
                            <a href="">GitHub</a>
                            </div>
                        </div>
                    </div>
                      

                </div>
            </div>
        </div>
    </section>
    
    
    
    {% endblock %}
    