{% extends 'base.html' %}
{% block title %}
    Predict page
{% endblock %}

{% block content %}

    <div class="predict-container">
        <h1>Prediction page</h1>
        <p>To predict the refrigerator energy consumption, please upload the mains channel readings (.csv) file</p>
        
        <form action="/predict" method="post" enctype="multipart/form-data">                
            <input type="file" class="predict-choose-file" name="file" id="file" required><br>
            <button type="submit" class="btn btn-md btn-primary">Submit</button>
        </form>
        
    </div>
        
    <div class="predict-graph">
        <canvas id="predict-graph" width="400" height="400"></canvas>
    </div>

    <script>
        const ctx = document.getElementById('predict-graph').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels | safe }},
                datasets: [{
                    label: '{{ file.filename }}',
                    data: {{ values | safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}