html{
    scroll-behavior: smooth;
}

body{
    color: black;
    /* font-family: 'Rubik', sans-serif; */
}

h1{
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    margin: 2% 5%;
    padding: 1% 4%;
}  

.home-container, .about-container{
    margin: 5%;
    margin-top: 0;
}

.predict-choose-file{
    margin: 20px;
}

.predict-container{
    text-align: center;
    margin: 10%;
    margin-top: 0;
}

.predict-graph{
    margin: 2%;
    padding: 3%;
}

.navbar-toggler-icon{
    background-color: #ff3527;
}

.home-row, .advantages-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.home-col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.home-col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.home-col-1 h1{
    font-size: 54px;
}

.home-col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 20px;
}

.home-col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.home-get-started{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

.home-get-started:hover{
    width: 150px;
    background: linear-gradient(to left, #fb5283, #ff3527);
}

.home-col-1:after{
    content: '';
    width: 10px;
    height: 60%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

.home-col-2 .home-illustrator{
    width: 90%;
}

.home-color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(75px);
}

.navbar{
    box-shadow: 2px 2px 20px #dfdfdf
}

.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    color: #ff3527;
    margin-right: 100px;
}

.navbar-brand:hover{
    color: #ff3527;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item a{
    font-size: 1.2rem;
    color: #707070;
}

.nav-item a:hover{
    color: #b7b7b7;
}

.nav-item a .login-link{
    color: #ff3527;
}

.logout-link{
    color: red;
}

.predict-container p{
    color: #b7b7b7;
}


/* ************************ about ************************ */

.about-container{
    background-color: rgb(243, 243, 243);
    padding: 7% 10.5%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 400px;
}

.about{
    margin-top: 10%;
}

.heading{
    font-family: 'Sacramento', cursive;
    font-size: 54px;
    font-weight: bold;
}

.about-college p{
    margin: 0;
}

.about-college{
    width: 60%;
    margin-top: 10px;
    text-align: left;
}

.about-college p a{
    color: black;
    text-decoration: none;
}

.about-college p a:hover{
    color: #b7b7b7;
}

/* ************************ Advantages ************************ */
.advantages-row{
    margin: 10% 5%;
    margin-bottom: 0;   
}

.advantages-col1{
    flex-basis: 60%;
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 5%; */
}

.advantages-col1 img{
    width: 100%;
}

.advantages-col2{
    padding: 5%;
}

.list-group-item{
    border: none;
}

.fa-square-check{
    color: #ff3527;
    margin: 10px;
}

/* ************************ three ************************ */

.three{
    margin: 5%;
}

.three .row {
    padding: 50px;
    /* padding: 5%; */
    background-color: white;
    text-align: center;
    /* background-color: rgb(248, 248, 248); */
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(195, 195, 195);
}

.three .card{
    border-color: #ff3527;
}

.three .card-text{
    min-height: 140px;
}

.fa-arrow-right{
    margin: 10px 20px;
    color: #707070;
}


/* ************************ framework ************************ */

.framework{
    padding: 10%;
    text-align: center;
    background-color: rgb(248, 248, 248);
}

.framework .card-body{
    min-height: 240px;
    color: black;
    border: 1px solid #ff3527;
}

.framework p{
    color: #b7b7b7;
    margin-bottom: 40px;
}


.framework .btn.btn-primary, .redd .btn.btn-info{
    color: #fff;
    background-color: #ff3527;
    border-color: #ff3527;
}

.framework .btn.btn-primary.focus, .redd .btn.btn-info.focus,
.framework .btn.btn-primary:focus, .redd .btn.btn-info:focus {
    color: #fff;
    background-color: #ff6062;
    border-color: #ff6062;
    outline: none;
    box-shadow: none;
}

.framework .btn.btn-primary:hover, .redd .btn.btn-info:hover {
    color: #fff;
    background-color: #ff6062;
    border-color: #ff6062;
    outline: none;
    box-shadow: none;
}

.framework .btn.btn-primary.active, .redd .btn.btn-info.active,
.framework .btn.btn-primary:active, .redd .btn.btn-info:active {
    color: #fff;
    background-color: #ff6062;
    border-color: #ff6062;
    outline: none;
}

.framework .btn.btn-primary.active.focus, .redd .btn.btn-info.active.focus,
.framework .btn.btn-primary.active:focus, .redd .btn.btn-info.active:focus,
.framework .btn.btn-primary.active:hover, .redd .btn.btn-info.active:hover,
.framework .btn.btn-primary:active.focus, .redd .btn.btn-info:active.focus,
.framework .btn.btn-primary:active:focus, .redd .btn.btn-info:active:focus,
.framework .btn.btn-primary:active:hover, .redd .btn.btn-info:active:hover {
    color: #fff;
    background-color: #ff6062;
    border-color: #ff6062;
    outline: none;
    box-shadow: none;
}
  
/* ************************ redd ************************ */

.redd{
    margin: 10%;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(195, 195, 195);
    border: 1px solid #ff3527;
}

.redd .col-sm p{
    color: #b7b7b7;
}



/* ************************ contacts ************************ */

.contacts{
    margin-top: 10%;
    padding: 2%;
    text-align: center;
    background-color: #ff6062;
}

.contacts .contact-row{
    padding: 2% 10% 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contacts .contact-row .contact-col1{
    flex-basis: 50%;
    position: relative;
}

/* .contacts .contact-row .contact-col2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
} */


.logo {
    width: 80px;
    margin-right: 30px;
}

.contacts .college h4{
    font-weight: bold;
}

.college{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.college a{
    color: #dfdfdf;
    text-decoration: none;
}

.college a:hover{
    color: #b7b7b7;
}

.me{
    display: flex;
    justify-content: space-between;
}

.me1{
    margin: auto 10px;
}

.me1:last-child{
    margin-right: 0;
}

.me .me1 h5{
    font-size: 1.2rem;
    color: #ff3527;
}

.me .me1 a{
    color: #707070;
    text-decoration: none;
}

.me .me1 a:hover{
    color: #b7b7b7;
}



@media only screen and (max-width: 700px){

    .home-row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .home-col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .home-col-2 .home-illustrator{
        width: 77%;
    }

    .home-color-box{
        transform: translateX(10px);
    }

    .home-col-1{
        flex-basis: 100%;
    }

    .home-col-1 h1{
        font-size: 35px;
    }

    .home-col-1 h3{
        font-size: 15px;
    }
    
    .home-col-1 p{
        font-size: 12px;
    }
}